<html xmlns:th="http://www.thymeleaf.org">
    <head th:include="fragments/layout :: headFragment"></head>
    <body>
        <div th:include="fragments/layout :: headerFragment"></div>

        <div id="main-container">
            <div>
                <h4>
                    <span th:text="${tweetsFetcherDisplayUser.tweetsCount}">count</span>
                    tweets by
                    <span th:text="${tweetsFetcherDisplayUser.name}">Some User</span>!
                </h4>
            </div>
            <blockquote class="text-justify" th:each="tweet:${tweetsFetcherDisplayUser.tweets}" th:text="${tweet.unmodifiedText}">
                Tweet text
            </blockquote>
        </div>
    </body>
</html>